### Opioid Data EDA

In [1]:
import pandas as pd

In [2]:
wv = pd.read_csv('./data/arcos-wv-statewide-itemized.tsv', sep = '\t')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print('West Virginia df: ', wv.shape)

West Virginia df:  (1879320, 42)

In [4]:
wv.head()

,REPORTER_DEA_NO,REPORTER_BUS_ACT,REPORTER_NAME,REPORTER_ADDL_CO_INFO,REPORTER_ADDRESS1,REPORTER_ADDRESS2,REPORTER_CITY,REPORTER_STATE,REPORTER_ZIP,REPORTER_COUNTY,...,DOSAGE_UNIT,TRANSACTION_ID,Product_Name,Ingredient_Name,Measure,MME_Conversion_Factor,Combined_Labeler_Name,Revised_Company_Name,Reporter_family,dos_str
0,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,1000.0,696,HYDROCODONE BITARTRATE AND ACETA 10M,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,Par Pharmaceutical,"Endo Pharmaceuticals, Inc.",Bellco Drug Corp,10.0
1,PB0167127,DISTRIBUTOR,BLOODWORTH WHOLESALE DRUGS,NaN,2128 YANK LAMB DRIVE,P.O. BOX 1849,TIFTON,GA,31793,TIFT,...,500.0,1382,HYDROCODONE BIT. 10MG/ACETAMINOPHEN,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,"Actavis Pharma, Inc.","Allergan, Inc.",Bloodworth Wholesale Drugs,10.0
2,PB0167127,DISTRIBUTOR,BLOODWORTH WHOLESALE DRUGS,NaN,2128 YANK LAMB DRIVE,P.O. BOX 1849,TIFTON,GA,31793,TIFT,...,500.0,3218,HYDROCODONE BIT/ACETA 10MG/500MG USP,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,SpecGx LLC,Mallinckrodt,Bloodworth Wholesale Drugs,10.0
3,PB0167127,DISTRIBUTOR,BLOODWORTH WHOLESALE DRUGS,NaN,2128 YANK LAMB DRIVE,P.O. BOX 1849,TIFTON,GA,31793,TIFT,...,500.0,1827,HYDROCODONE BITARTRATE & ACETA 5MG/3,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,"Sun Pharmaceutical Industries, Inc.","Sun Pharmaceutical Industries, Inc.",Bloodworth Wholesale Drugs,5.0
4,PB0167127,DISTRIBUTOR,BLOODWORTH WHOLESALE DRUGS,NaN,2128 YANK LAMB DRIVE,P.O. BOX 1849,TIFTON,GA,31793,TIFT,...,500.0,4105,HYDROCODONE BITARTRATE & ACETA 5MG/3,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,"Sun Pharmaceutical Industries, Inc.","Sun Pharmaceutical Industries, Inc.",Bloodworth Wholesale Drugs,5.0

In [5]:
wv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1879320 entries, 0 to 1879319
Data columns (total 42 columns):
REPORTER_DEA_NO          object
REPORTER_BUS_ACT         object
REPORTER_NAME            object
REPORTER_ADDL_CO_INFO    object
REPORTER_ADDRESS1        object
REPORTER_ADDRESS2        object
REPORTER_CITY            object
REPORTER_STATE           object
REPORTER_ZIP             int64
REPORTER_COUNTY          object
BUYER_DEA_NO             object
BUYER_BUS_ACT            object
BUYER_NAME               object
BUYER_ADDL_CO_INFO       object
BUYER_ADDRESS1           object
BUYER_ADDRESS2           object
BUYER_CITY               object
BUYER_STATE              object
BUYER_ZIP                int64
BUYER_COUNTY             object
TRANSACTION_CODE         object
DRUG_CODE                int64
NDC_NO                   int64
DRUG_NAME                object
QUANTITY                 float64
UNIT                     float64
ACTION_INDICATOR         object
ORDER_FORM_NO            object
CORRECTION_NO            float64
STRENGTH                 float64
TRANSACTION_DATE         int64
CALC_BASE_WT_IN_GM       float64
DOSAGE_UNIT              float64
TRANSACTION_ID           int64
Product_Name             object
Ingredient_Name          object
Measure                  object
MME_Conversion_Factor    float64
Combined_Labeler_Name    object
Revised_Company_Name     object
Reporter_family          object
dos_str                  float64
dtypes: float64(8), int64(6), object(28)
memory usage: 602.2+ MB

In [6]:
# dropping all columns with 
columns_to_drop = []

for i in wv.columns:
    if wv[i].isnull().sum() > 1000:
        print(i, wv[i].isnull().sum())
        columns_to_drop.append(i)
    elif wv[i].isnull().sum() > 0:
        print(i, wv[i].isnull().sum())
    else:
        pass

REPORTER_ADDL_CO_INFO 1670648
REPORTER_ADDRESS2 1167894
BUYER_ADDL_CO_INFO 1117010
BUYER_ADDRESS2 1458572
UNIT 1879320
ACTION_INDICATOR 1879092
ORDER_FORM_NO 1259001
CORRECTION_NO 1879151
STRENGTH 1468715
Combined_Labeler_Name 103
Revised_Company_Name 103
dos_str 1147

### Drop columns with many nulls

In [7]:
wv.drop(columns = columns_to_drop, inplace = True)

print(columns_to_drop)

['REPORTER_ADDL_CO_INFO', 'REPORTER_ADDRESS2', 'BUYER_ADDL_CO_INFO', 'BUYER_ADDRESS2', 'UNIT', 'ACTION_INDICATOR', 'ORDER_FORM_NO', 'CORRECTION_NO', 'STRENGTH', 'dos_str']

### Concatenate Addresses and drop other columns

In [8]:
# changing zip codes to str
wv['REPORTER_ZIP'] = wv['REPORTER_ZIP'].astype(str)
wv['BUYER_ZIP'] = wv['BUYER_ZIP'].astype(str)

In [9]:
# creating a full address for reporter and buyer
wv['reporter_address'] = (wv['REPORTER_ADDRESS1'] + ', ' +
                              wv['REPORTER_CITY'] + ', ' +
                              wv['REPORTER_STATE'] + ' ' +
                              wv['REPORTER_ZIP'])

wv['buyer_address'] = (wv['BUYER_ADDRESS1'] + ', ' +
                              wv['BUYER_CITY'] + ', ' +
                              wv['BUYER_STATE'] + ' ' +
                              wv['BUYER_ZIP'])

In [10]:
# Looks good!
wv[['reporter_address', 'buyer_address']].head()

,reporter_address,buyer_address
0,"5500 NEW HORIZONS BLVD, NORTH AMITYVILLE, NY 1...","215 35TH STREET, SE, CHARLESTON, WV 25304"
1,"2128 YANK LAMB DRIVE, TIFTON, GA 31793","2810 ROBERT C BYRD DRIVE, BECKLEY, WV 25801"
2,"2128 YANK LAMB DRIVE, TIFTON, GA 31793","2810 ROBERT C BYRD DRIVE, BECKLEY, WV 25801"
3,"2128 YANK LAMB DRIVE, TIFTON, GA 31793","2810 ROBERT C BYRD DRIVE, BECKLEY, WV 25801"
4,"2128 YANK LAMB DRIVE, TIFTON, GA 31793","2810 ROBERT C BYRD DRIVE, BECKLEY, WV 25801"

In [11]:
# drop other address columns 
wv.drop(columns = [i for i in wv.columns if 'CITY' in i or 'ZIP' in i or 'STATE' in i or 'ADDRESS' in i],
        inplace = True)

print('Number of columns: ', wv.shape[1])

Number of columns:  26

**Converting `TRANSACTION_DATE` to `datetime` format**

In [12]:
wv['TRANSACTION_DATE'].head()

0     6022006
1    11102011
2     3232012
3     5092012
4     6292012
Name: TRANSACTION_DATE, dtype: int64

In [13]:
def convert_to_datetime(x):
    x = str(x)
        
    if len(x) < 8:
        month = '0' + x[0]
        day = x[1:3]
        year = x[-4:]
        
        return int(year + month + day)
    
    else:
        month = x[0:2]
        day = x[2:4]
        year = x[4:]
    
        return int(year + month + day)

In [14]:
wv['TRANSACTION_DATE'] = wv['TRANSACTION_DATE'].map(convert_to_datetime)

##### What drugs are we talking about?

In [15]:
# Hydrocodone & Oxycodone

wv['Ingredient_Name'].value_counts()

HYDROCODONE BITARTRATE HEMIPENTAHYDRATE    1259229
OXYCODONE HYDROCHLORIDE                     620091
Name: Ingredient_Name, dtype: int64

### Looking at the remaining columns

In [16]:
# after some EDA, I chose to drop these columns
more_to_drop = ['DRUG_CODE', 'DRUG_NAME', 'MME_Conversion_Factor', 'Measure', 
                'NDC_NO', 'REPORTER_BUS_ACT', 'REPORTER_NAME', 'REPORTER_COUNTY',
                'REPORTER_DEA_NO', 'BUYER_DEA_NO', 'TRANSACTION_CODE', 'TRANSACTION_ID']

In [17]:
wv.drop(columns = more_to_drop, inplace = True)
print('Number of columns: ', wv.shape[1])

Number of columns:  14

In [18]:
# changing order of columns
wv = wv[['TRANSACTION_DATE', 'Reporter_family', 'reporter_address', 'BUYER_NAME', 'BUYER_BUS_ACT', 
         'buyer_address', 'BUYER_COUNTY', 'Product_Name', 'Ingredient_Name', 'DOSAGE_UNIT', 'QUANTITY', 
         'CALC_BASE_WT_IN_GM', 'Combined_Labeler_Name', 'Revised_Company_Name']]

In [19]:
wv.head()

,TRANSACTION_DATE,Reporter_family,reporter_address,BUYER_NAME,BUYER_BUS_ACT,buyer_address,BUYER_COUNTY,Product_Name,Ingredient_Name,DOSAGE_UNIT,QUANTITY,CALC_BASE_WT_IN_GM,Combined_Labeler_Name,Revised_Company_Name
0,20060602,Bellco Drug Corp,"5500 NEW HORIZONS BLVD, NORTH AMITYVILLE, NY 1...",TRIVILLIAN'S PHAR OF KANAWHA,RETAIL PHARMACY,"215 35TH STREET, SE, CHARLESTON, WV 25304",KANAWHA,HYDROCODONE BITARTRATE AND ACETA 10M,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,1000.0,2.0,6.0540,Par Pharmaceutical,"Endo Pharmaceuticals, Inc."
1,20111110,Bloodworth Wholesale Drugs,"2128 YANK LAMB DRIVE, TIFTON, GA 31793",COLONY DRUG,RETAIL PHARMACY,"2810 ROBERT C BYRD DRIVE, BECKLEY, WV 25801",RALEIGH,HYDROCODONE BIT. 10MG/ACETAMINOPHEN,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,500.0,1.0,3.0270,"Actavis Pharma, Inc.","Allergan, Inc."
2,20120323,Bloodworth Wholesale Drugs,"2128 YANK LAMB DRIVE, TIFTON, GA 31793",COLONY DRUG,RETAIL PHARMACY,"2810 ROBERT C BYRD DRIVE, BECKLEY, WV 25801",RALEIGH,HYDROCODONE BIT/ACETA 10MG/500MG USP,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,500.0,1.0,3.0270,SpecGx LLC,Mallinckrodt
3,20120509,Bloodworth Wholesale Drugs,"2128 YANK LAMB DRIVE, TIFTON, GA 31793",COLONY DRUG,RETAIL PHARMACY,"2810 ROBERT C BYRD DRIVE, BECKLEY, WV 25801",RALEIGH,HYDROCODONE BITARTRATE & ACETA 5MG/3,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,500.0,1.0,1.5135,"Sun Pharmaceutical Industries, Inc.","Sun Pharmaceutical Industries, Inc."
4,20120629,Bloodworth Wholesale Drugs,"2128 YANK LAMB DRIVE, TIFTON, GA 31793",COLONY DRUG,RETAIL PHARMACY,"2810 ROBERT C BYRD DRIVE, BECKLEY, WV 25801",RALEIGH,HYDROCODONE BITARTRATE & ACETA 5MG/3,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,500.0,1.0,1.5135,"Sun Pharmaceutical Industries, Inc.","Sun Pharmaceutical Industries, Inc."

In [20]:
wv.to_csv('./data/west_virginia_for_lesson.tsv', sep = '\t', index = False)